@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --accent: rgb(252, 195, 163);
    --pointer: rgb(255, 151, 110);
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(252, 241, 225);
     /* font-family: 'Caveat', cursive;  */
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 100vh;
    padding: 32px;
    display: flex;
    justify-content: center;
}
.container {
    padding: 32px;
    background-color: rgb(255, 255, 254);
    width: 70vw;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(209, 209, 209);
}
.todoAddTask {
    --size: 50px;
    display: flex;
    margin: 16px 0 32px;
}
.todoAddTask input {
    margin-right: 16px;
    font-size: 18px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    flex-grow: 1;
}
.todoAdd {
    height: var(--size);
    width: var(--size);
    border: 1px solid rgb(209, 209, 209);
    background-color: var(--accent);
    text-align: center;
    font-size: 32px;
    color: white;
    border-radius: 10px;
}
.todoAdd:hover {
    cursor: pointer;
    background-color: var(--pointer);
}
.list {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    align-items: center;
}
.todoTask {
    display: flex;
    --size: 47px;
    border: 1px solid var(--accent);
    padding: 10px;
}
.todoTask:hover , .taskEdit, .taskDel {
    display: true;
}
.todoCheckbox {
    margin-right: 16px;
    justify-content: center;
}
.taskEdit {
    margin-left: auto;
    margin-right: 10px;
}
.taskEdit, .taskDel {
    color: var(--accent);
    display: none;
}
.taskEdit:hover, .taskDel:hover {
    cursor: pointer;
    color: var(--pointer);
}